.AppFactory_headerArea,.AppFactory_footerArea{ text-align: center;}
.AppFactory_headerArea{ background-color: #999;}
.AppFactory_footerArea{ background-color: #999;}

.AppFactory_headerArea {
	width: 100%; height: 40px; 
	position: absolute; 
	top: 0px;
	box-shadow: 0px 0px 15px #888888;
	z-index: 3;
}
.AppFactory_containerArea{
	position: absolute;
	width: 100%;
	top: 40px; 
	bottom: 0px;
    overflow: auto;
}

.AppFactory_containerArea>div {
	position: absolute;
	width: 100%;
	height: 100%;
}

.AppFactory_containerArea>div.codeArea {
	display: block;
	z-index: 0;
}
.AppFactory_containerArea>div.previewArea {
	display: block;
	z-index: 1;
	background-color: #fff;
}


.AppFactory_topArea {
    position: absolute;
	width: 100%;
    top: 0px;
    bottom: 0px;
	overflow: auto;
}
.AppFactory_footerArea {
	width: 100%; height: 0px;
    position: absolute;
	bottom: 0px;
}

/*start*/
.AppFactory_mainArea{
    width: 100%;
    height: auto;
    float: left;
	position: relative;
}

/**************************************/
.AppFactory_headerArea>label {
	position: relative;
	display: inline-block;
	margin-top: 8px; padding: 0px;
}

.AppFactory_titleArea {
	float: left;	
	margin-left: 10px; 
	color: #ddd;
}
.AppFactory_switchViewBtn {
	float: right;
	margin-right: 10px; 
	color: #fff;
}
.AppFactory_uploadItem, .AppFactory_refreshItem {
	float: left;	 
	margin-left: 10px; 
	z-index: 3;	
	background-color: #999;
	color: #fff;
}

.AppFactory_switchViewBtn span:first-child {
	display: none;
}
.AppFactory_switchViewBtn span:last-child {
	display: inline-block;
}
.AppFactory_switchViewBtn span:hover {
	cursor: pointer;
	color: #ddd;
}



.AppFactory_uploadItem {
	float: left;
}

.AppFactory_uploadItem:hover , .AppFactory_refreshItem:hover {
	cursor: pointer;
	color: #ddd;
}

.AppFactory_codeArea {
	display: block;
	z-index: 0;
}
.AppFactory_previewArea {
	display: block;
	z-index: 1;
	background-color: #fff;
}

